body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
	height: 20vh;
  padding: 30px ;
  background: #555;
  color: #f1f1f1;
  text-align: center;
  font-size: 50px;
}

.content {
  padding: 16px;
  height: 70vh;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.ageGroupSection{
	height: 50%;
}

.quizTopicSection{
	height: 50%;
}