<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>QuizIt</title>
<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript" src="js/quiz/quizApp.js"></script>
  <script type="text/javascript" src="js/quiz/quizController.js"></script>
  <script type="text/javascript" src="js/quiz/quizService.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body ng-app="quizIt" >
	<div ng-controller="quizController">
		<div data-ng-init="getListOfTopic()"></div>
		<div class="header" id="pageHeader">
			<h2 >Welcome To QuizIt</h2>
		</div>

		<div align="center">
			<div class="card " style=" width: 70vw;text-align: center;max-height: 30vh;">
				<div class="card-header">Select Age Group</div>
				<div class="card-body" style="max-height: 20vh; overflow-y: scroll;">
					<input type="radio" name="ageGroup" value="child">Child<br>
					<input type="radio" name="ageGroup" value="teen">Teen<br>
					<input type="radio" name="ageGroup" value="adult">Adult<br>
				</div>
			</div>
		</div>

		<div align="center">
			<div class="card " style=" width: 70vw;text-align: center;max-height: 50vh;">
				<div class="card-header">Choose Topic(s)</div>
				<div class="card-body" style="max-height: 30vh; overflow-y: scroll;">
					<div ng-repeat="topic in lisOfTopic">
						<input type="checkbox" name="topic" value="{{topic.id}}" ng-model="topic.isSelected">{{topic.name}}<br>								
					</div>
				</div>
				<div class="card-footer">
					<input type="button" name="starQuizBtn" ng-click="startQuiz()">Start Quiz
					<!--<button type="button" class="btn" ng-click="startQuiz()">Start Quiz</button> -->
				</div>
			</div>
		</div>
		<!-- End Here-->

		<!--<div class="content" id="ageGroupDiv">
			<div class="container">
				<div class="panel-group">
					<div class="panel panel-default" style="height: 25vh;max-height: 25vh;">
						<div class="panel-heading" >
							Select Age Group
						</div>
						<div class="panel-body" style="height: 15vh;max-height: 15vh;overflow-y: scroll;">
							<input type="radio" name="ageGroup" value="child">Child<br>
							<input type="radio" name="ageGroup" value="teen">Teen<br>
							<input type="radio" name="ageGroup" value="adult">Adult<br>
						</div>
					</div>
					<div class="panel panel-default" style="height: 40vh; max-height: 40vh;">
						<div class="panel-heading" >
							Select Quiz Topic
						</div>
						<div class="panel-body" style="height: 30vh; max-height: 30vh; overflow-y: scroll;">
							<div ng-repeat="topic in lisOfTopic">
								<input type="checkbox" name="topic" value="{{topic.id}}" ng-model="topic.isSelected">{{topic.name}}<br>								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="submitButton">
				<button type="button" class="btn" ng-click="startQuiz()">Start Quiz</button>
			</div>
		</div> -->
	</div>
</body>
</html>
